# Build
build/
out/
Debug/
Release/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeUserPresets.json

# IDE
.vs/
.vscode/
*.user
*.suo
*.sln
*.vcxproj*
!CMakeLists.txt

# Compiled
*.obj
*.lib
*.exe
*.pdb
*.ilk
*.dll
*.so
*.dylib
*.a

# OS
Thumbs.db
.DS_Store
